main {
  app-calendar-body-wrapper {
    .body-content {
      height: 100%;
    }
  }
}

.page-loader-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

